@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  html{
    @apply h-screen;
  }
  body{
    @apply bg-black text-white;
  }
}

@layer components {
  .btn {
    @apply bg-opacity-25 bg-white px-3 py-1.5 mx-1 my-0.5 rounded
  }

  .page{
    @apply flex flex-col items-center justify-center p-5
  }

  .form{
   @apply flex flex-col bg-gray-900 p-4 rounded-md 
  }

  .form-input{
    @apply p-2.5 rounded mb-2 w-full text-black
  }

  .dark-input{
    @apply form-input bg-gray-800 text-white
  }

  .form-submit{
    @apply p-3 rounded bg-yellow-500 text-white mt-7 hover:bg-yellow-600 cursor-pointer
  }

  .err{
    @apply text-red-600 px-1.5
  }

  .modalBtn{
    @apply bg-yellow-500 m-5 md:m-8 flex items-center justify-center rounded-full  cursor-pointer;
    minWidth: 3rem;
    minHeight: 3rem;
  }
  .infoPanel{
    @apply bg-gray-900 px-2.5 rounded-lg lg:mr-3 pb-20 lg:pb-5 overflow-y-scroll;
    minHeight: 50vh;
  }
  
}
@screen lg {
  .infoPanel{
    max-height: 80vh;
  }
}
.rotateIn{
  transform: rotate(45deg);
  transition: transform 150ms linear;
}
.rotateOut{
  transform: rotate(0);
  transition: transform 150ms linear;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}
input[type=number] {
  -moz-appearance:textfield;
}


input[type="date"]::before { 
	content: attr(data-placeholder);
	width: 100%;
}

input[type="date"]:focus::before,
input[type="date"]:valid::before { display: none }


